Source: pglogical-ticker
Section: database
Priority: optional
Maintainer: Jeremy Finzel <jfinzel@enova.com>
Build-Depends: debhelper-compat (= 13), libpq-dev, postgresql-common, postgresql-server-dev-all
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://github.com/enova/pglogical_ticker
Vcs-Git: https://github.com/enova/pglogical_ticker.git

Package: postgresql-15-pglogical-ticker
Architecture: any
Depends: postgresql-15, postgresql-15-pglogical, ${shlibs:Depends}, ${misc:Depends}
Description: Have time-based replication delay for pglogical
 A pglogical extension to get time-based replication delay for PostgreSQL 15.
